# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment variables
.env

# Data files
data/
train/
runs/
visualized/
yolo_dataset/
unimportant_logs/
literature/
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

out